.modulcarousel {
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #DBDEE1;
	padding: 10px;
}

/**
 *  Horizontal Buttons
 */
